<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7zip" />
  <package id="7zip.install" />
  <package id="az.powershell" />
  <package id="azure-cli" />
  <package id="azure-data-studio" />
  <package id="bitwarden-cli" />
  <package id="Calculator.Net" />
  <package id="chocolatey" />
  <package id="chocolatey.extension" />
  <package id="chocolatey-compatibility.extension" />
  <package id="chocolatey-core.extension" />
  <package id="chocolatey-dotnetfx.extension" />
  <package id="chocolatey-font-helpers.extension" />
  <package id="chocolateygui" />
  <package id="chocolatey-visualstudio.extension" />
  <package id="chocolatey-windowsupdate.extension" />
  <package id="clipboardfusion" />
  <package id="codetrack" />
  <package id="cs-script" />
  <package id="devtoys" />
  <package id="directoryopus" />
  <package id="displayfusion" />
  <package id="dngrep" />
  <package id="DotNet4.5.2" />
  <package id="DotNet4.6" />
  <package id="DotNet4.6.1" />
  <package id="dotnet4.7.2" />
  <package id="dotnet-6.0-desktopruntime" />
  <package id="dotnet-6.0-runtime" />
  <package id="dotnet-7.0-desktopruntime" />
  <package id="dotnet-7.0-sdk" />
  <package id="dotnet-7.0-sdk-1xx" />
  <package id="dotnet-7.0-sdk-2xx" />
  <package id="dotnet-7.0-sdk-3xx" />
  <package id="dotnet-7.0-sdk-4xx" />
  <package id="dotnet-8.0-desktopruntime" />
  <package id="dotnet-desktopruntime" />
  <package id="dotnetfx" />
  <package id="drawio" />
  <package id="duf" />
  <package id="eartrumpet" />
  <package id="espanso" />
  <package id="Everything" />
  <package id="filezilla" />
  <package id="fluent-terminal" />
  <package id="fzf" />
  <package id="git" />
  <package id="git.install" />
  <package id="gitextensions" />
  <package id="gpg4win" />
  <package id="greenshot" />
  <package id="groupy" />
  <package id="gsudo" />
  <package id="handbrake" />
  <package id="handbrake.install" />
  <package id="hyper" />
  <package id="KB2919355" />
  <package id="KB2919442" />
  <package id="KB2999226" />
  <package id="KB3033929" />
  <package id="KB3035131" />
  <package id="KB3063858" />
  <package id="KB3118401" />
  <package id="keypirinha" />
  <package id="logparser" />
  <package id="lsd" />
  <package id="meld" />
  <package id="nanum-gothic-coding-font" />
  <package id="nerd-fonts-CascadiaCode" />
  <package id="nerd-fonts-IBMPlexMono" />
  <package id="nerd-fonts-ProggyClean" />
  <package id="nerd-fonts-VictorMono" />
  <package id="netfx-4.7.2" />
  <package id="nimbletext" />
  <package id="nodejs" />
  <package id="nodejs.install" />
  <package id="NugetPackageExplorer" />
  <package id="nvm" />
  <package id="nvm.install" />
  <package id="obsidian" />
  <package id="pandoc" />
  <package id="pet" />
  <package id="postman" />
  <package id="powerautomatedesktop" />
  <package id="powershell-core" />
  <package id="powertoys" />
  <package id="psinfo" />
  <package id="putty" />
  <package id="putty.portable" />
  <package id="python" />
  <package id="python3" />
  <package id="python311" />
  <package id="python312" />
  <package id="repoz" />
  <package id="rio-terminal" />
  <package id="rust-ms" />
  <package id="scc" />
  <package id="spotify" />
  <package id="sql-server-management-studio" />
  <package id="starship.install" />
  <package id="sublimemerge" />
  <package id="sublimetext4" />
  <package id="sumatrapdf" />
  <package id="sumatrapdf.install" />
  <package id="tabby" />
  <package id="taskbarx" />
  <package id="TcpView" />
  <package id="teracopy" />
  <package id="tortoisesvn" />
  <package id="typora" />
  <package id="vcredist140" />
  <package id="vcredist2015" />
  <package id="vcxsrv" />
  <package id="visualstudio2022enterprise-preview" />
  <package id="visualstudio-installer" />
  <package id="vlc" />
  <package id="vlc.install" />
  <package id="vscode-insiders" />
  <package id="vscode-insiders.install" />
  <package id="wezterm" />
  <package id="wezterm.install" />
  <package id="Wget" />
  <package id="whois" />
  <package id="whoiscl" />
  <package id="wiztree" />
  <package id="zoxide" />
</packages>